* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #0B0B0E;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 112px;
}

/* header*/

header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #003004;
}

.header_conteiner {
    padding: 12px 0;
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_box {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.header_links {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.logo {
    width: 228px;
    height: 53px;
}

/* mainnnnnnnnnnn */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_conteiner {
    max-width: 1040px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 112px;
}

.card_conteiner {
    display: flex;
    justify-content: space-between;
}

.card_img {
    width: 381px;
    height: 358px;
}

.cards_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 564px;
}

h1 {
    color: #fff;
    font-size: 56px;
    font-weight: 600;
    line-height: 68px;
}

.card_txt {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.dagent {
    width: 200px;
    padding: 12px 24px;
    text-align: center;
    color: #fff;
    border-radius: 24px;
}

.org {
    border: 0;
    background-color: #ff371a;
}

.AAI {
    margin-left: 16px;
    background-color: #0B0B0E;
    border: 1px solid #2F2C33;
}

.sponsor_logo {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 320px;
}

.sponsor_icon {
    width: 48px;
    height: 48px;
}


.brain_box {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h2 {
    color: #fff;
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    text-align: center;
}

.agents_box {
    display: flex;
    flex-direction: column;
}

.backgraund_all {
    border-radius: 12px;
    background: #191919;
    padding: 16px;
    width: 508px;
    gap: 12px;
}

.box_title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.box_info {
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.setings_box {
    display: flex;
    justify-content: space-around;
}

.Twins {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.brain_combo {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.Compute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    height: 251px;
}

/* influ divvvvv */

.content_nst {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}

.content_nst_p {
    color: #7a7a7a;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.influencer_grid {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.influ_box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.influ {
    background: #191919;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 252px;
    border-radius: 12px;
}

.influ_p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.ProfileCard {
    display: flex;
    gap: 10px;
    width: 100%;
}

.influ_email {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
}

.name_box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.influ_name {
    color: #535862;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.tick_img {
    width: 16px;
    height: 16px;
}

.email_box {
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 64px;
    gap: 32px;
}

.mail_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.email_button {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: #FF371A;
    border-radius: 12px;
    text-align: center;
    padding: 12px 24px;
    width: 126px;
    border: 0;
}

.email_form {
    width: 338px;
    background: #0B0B0E;
    border-radius: 8px;
    border: 1px;
    padding: 14px;
    border: 1px solid #7A7A7A;
}

.email_form::placeholder {
    color: #7a7a7a;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.bay_box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bay_box_title {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.bay_box_span {
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    line-height: 55px;
    text-align: left;
}

.bay_box_p {
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.01px;
    text-align: left;
}

.bay_conteiner {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.bay_box_conteiner {
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
    background-color: #191919;
    width: 330px;
    padding: 40px 0;
}

.dolari_box {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.patara_spani {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.dolari_span {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;
    text-align: left;
}

.Popular {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background: #FF371A;
    width: 100px;
}